{% extends "components/base.html" %}
{% block title %}About{% endblock %}
{% block content %}
    <h1 class="title is-4">
      About me
    </h1>
    <div class="content">
      <p>
        Hello, I'm Emily.
      </p>
      <p>
        I'm working to build my technical skill set and sharing what I learn here.
      </p>
      <p>
        My background is in Chinese language, which I've been studying since 2009. 随时用中文跟我聊啊！
      </p>
      <p>
        In my current role at Amazon Web Services, I'm a business development manager working with serverless ISVs.
      </p>
      <p>
        I live in Seattle.
      </p>
    </div>
{% endblock %}
