{% extends "base.html" %}
{% block title %}Tsu About{% endblock %}
{% block content %}
  <div class="column is-three-quarters is-three-fifths-widescreen">         
    <h1 class="title is-4">
      About me
    </h1>
    <div class="content">
      <p>
        Hi there, my name is Emily. In my current role with Amazon Web Services, I am a business development manager working with developer tooling partners that help customers deploy, monitor, and secure their serverless applications. I'm working to build my technical skillset and sharing what I learn here.
      </p>
      <p>
        My background is primarily in Chinese language, which I've been studying since 2009. 随时用中文跟我聊啊！
      </p>
      <p>
        I live in Seattle.
      </p>
    </div>

  </div>
{% endblock %}
